<body>
  <main>
    <br>
    <br>
    <br>
      <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 6rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center"
            *ngFor="let user of users; index as i">         
          <li>
            <a class="nav-link py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
              <button type="button" class="btn btn-outline-secondary btn-sm">
              <!-- <img (click)="logUser(users[i])" src="{{this.storage.listaUrlParaVarios[i]}}" class="rounded" width="30" height="30" > -->
              <img (click)="logUser(users[i])" src="{{this.imagenes[i]}}" class="rounded" width="30" height="30" >
              <div [ngSwitch]="[i]">
                <small *ngSwitchCase="0">Pac 1</small>
                <small *ngSwitchCase="1">Pac 2</small>
                <small *ngSwitchCase="2">Pac 3</small>
                <small *ngSwitchCase="3">Esp 1</small>
                <small *ngSwitchCase="4">Esp 2</small>
                <small *ngSwitchCase="5">Admin</small>
              </div>
            </button>
            </a>
          </li>
        </ul>
      </div>
      <hr>
  </main>
</body>
