<body>
  <main>
    <br>
    <br>
    <br>
    <div class="b-example-divider"></div>
      <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center"
            *ngFor="let user of users; index as i">         
          <li>
            <a class="nav-link py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
              <img (click)="logUser(users[i])" src="{{this.storage.listaUrlParaVarios[i]}}" class="rounded" width="40" height="40" >
              <div [ngSwitch]="[i]">
                <small *ngSwitchCase="0">Pac 1</small>
                <small *ngSwitchCase="1">Pac 2</small>
                <small *ngSwitchCase="2">Pac 3</small>
                <small *ngSwitchCase="3">Esp 1</small>
                <small *ngSwitchCase="4">Esp 2</small>
                <small *ngSwitchCase="5">Admin</small>
              </div>
            </a>
          </li>
        </ul>
      </div>
    <div class="b-example-divider"></div>
  </main>
</body>
