<main *ngIf="logueado|async as user" role="main">
    <!-- <div *ngIf="logueado|async as user; else then_content"> -->
  
    <!-- <h5>{{this.filtroEsp}}</h5> -->
    <div *ngIf="this.campo == ''; else campo_valor">
        <h5>Lista completa</h5>
    </div>
    <ng-template #campo_valor>
        <h5>{{this.campo}}: {{this.valor}}</h5>
    </ng-template>
    <table class="table" style="width: 100%; align-self: center;">
        <thead>
            <tr>
                <th *ngIf="this.rol == 'espta'" >
                  Paciente
                </th>
                <th *ngIf="this.rol == 'pac'" >
                  Doctor
                </th>
                <th>
                  DNI
                </th>
                <th>
                  Especialidad
                </th>
                <th>
                  Turno
                </th>
                <th>
                  Estado
                </th>
            
                <th>
                  Botón
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let item of listaItems">
            <tr *ngIf="((this.rol == 'espta' && user.email == item.esptaEmail)
                       ||
                       (this.rol == 'pac' && user.email == item.pacEmail)
                       &&
                    (item.estado == 'nuevo' || item.estado == 'aceptado' || item.estado == 'finalizado'))">
                <td *ngIf="this.rol == 'espta'" >
                  <small>{{item.pacApellido}}, {{item.pacNombre}}</small>
                </td>
                <td *ngIf="this.rol == 'pac'" >
                  <small>{{item.esptaApellido}}, {{item.esptaNombre}}</small>
                </td>
                <td *ngIf="this.rol == 'espta'" >
                  <small>{{item.pacDni}}</small>
                </td>
                <td *ngIf="this.rol == 'pac'" >
                  <small>{{item.esptaDni}}</small>
                </td>
                <td >
                  <small>{{item.especialidad}}</small>
                </td>
                <td>
                  <small> {{item | fechahoraturno }}</small>
                </td>
                <td>
                  <small> {{item.estado}}</small>
                </td>
                <td *ngIf="item.estado == 'nuevo'">
                  <div class="btn-group" role="group"> 
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('cancelar', item);">Cancelar</button>
                    <button *ngIf="this.rol == 'espta'" type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('rechazar', item);">Rechazar</button>
                    <button *ngIf="this.rol == 'espta'" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('aceptar', item);">Aceptar</button>
                  </div>
                </td> 
                <td *ngIf="item.estado == 'aceptado'">
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('finalizar', item);">Finalizar</button>
                </td> 
                <td *ngIf="item.resenia != ''">
                  <div class="btn-group" role="group"> 
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('resenia', item);">Reseña</button>
                  <button *ngIf="item.estado == 'finalizado' && this.rol=='Pac'" type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="accion('encuesta', item);">Encuesta</button>
                  </div>
                </td> 
            </tr>          
        </tbody>
    </table>
  </main>