
<main>
  <div class="b-example-divider"></div>
    <ul class="nav nav-pills flex-column mb-auto">
      <button (click)="this.enviarEspecialidad('Oftalmología')"class="btn btn-outline-secondary" style="width: 180px;">test</button>
      <div *ngFor="let esp of this.listaItems">
        <li>
          <button (click)="this.enviarEspecialidad(esp.nombre)" class="btn btn-outline-secondary" style="width: 180px;">
            <div [ngSwitch]="esp.nombre">
              <div *ngSwitchCase="'Clínica'" class="bi bi-clipboard2-pulse">
                <br>{{esp.nombre}}
              </div>  
              <div *ngSwitchCase="'Ginecología'" class="bi bi-person-heart">
                <br>{{esp.nombre}}
              </div>  
              <div *ngSwitchCase="'Gastroenterología'" class="bi bi-bandaid-fill">
                <br>Gastro
              </div>                      
              <div *ngSwitchDefault class="bi bi-file-medical-fill">
                <br>{{esp.nombre}}
              </div>                      
            </div>
        </button>
        <hr>
        </li>
      </div>
    </ul>
</main>
