@import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body {
    background-size: cover;
    background-position: absolute;
    /* background-color: black; */
    background: url(assets/__fondo.jpeg);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
