
<body> 
  <div class="container py-3">
      
    <div class="p-4 mb-4 bg-light rounded-3">
    <header>
      <br>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Turnos</h1>
       
        
        <p class="fs-5 text-muted">Filtrar por</p>
          <div class="btn-group" role="group">
            <div *ngFor="let esp of listaEspecialidades">
            <button type="button" class="btn btn-secondary btn-sm" type="submit" (click)="enviarFiltroEsp(esp)">{{esp}}</button>
            </div>
          </div>
          <br>
          <br>
           <!-- caja de búsqueda -->
          <div class="d-flex justify-content-center">
            <div class="input-group input-group-sm mb-3" style="width: 50%;">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" (click)="enviarFiltroDni(dni.value)">Buscar doctor</button>
              </div>
              <input #dni type="text" class="form-control small" placeholder="DNI del doctor" aria-label="" aria-describedby="basic-addon1">
            </div>
          </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <app-tabla-turnos [listaItems]="listaTurnos"
                             [filtroEsp]="filtroEsp"
                             [dni]="dniEsp"
                             [rol]="'pac'">
          </app-tabla-turnos>
        </div>
      </div>
    </header>
  </div>
  </div> 
</body>


