
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <img class="bi me-2" width=3% height=3% src="../assets/salud.png" alt="" routerLink="/home">
      <!-- <a class="navbar-brand" href="#">Jueguitos</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Enlaces -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/quien-soy">Quién soy</a>
          </li>
              <!-- <li class="nav-item" *ngIf="logueado|async as user;">
                <a class="nav-link active" routerLink="/home-juegos">Jueguitos</a>
              </li>
              <li class="nav-item" *ngIf="logueado|async as user;">
                <a class="nav-link active" routerLink="/chat">Chat</a>
              </li> -->
        </ul>
          <!-- Login - SignOut -->
          <div class="col-md-3 text-end">
          <div *ngIf="logueado|async as user; else then_content">
            <button type="button" class="btn btn-outline-light me-2" (click)="logout()">{{user.email}}
              <img class="bi me-2" width="32" height="32" src="../assets/signOut.png" alt="" routerLink="/home">
            </button>
          </div>
          <ng-template #then_content>
            <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
            <button type="button" class="btn btn-light" routerLink="/registro">Registro</button>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>        

