
<body> 
<main>
  <!-- <div class="album py-5 bg-light"> -->
    <div class="container">
      <h1 class="fw-light rounded bg-light" style="width: 18rem;">Registro</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1">
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem;">
            <img class="bd-placeholder-img card-img-top" src="../assets/paciente.png" alt="" width="30%" height="30%">
            <div class="card-body">
              <p class="card-text">Paciente</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="registrar('Paciente')"    class="btn btn-sm btn-outline-secondary">Registrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem;">
            <img class="bd-placeholder-img card-img-top" src="../assets/especialista.jpeg" alt="" width="30%" height="30%">
            <div class="card-body">
              <p class="card-text">Especialista</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="registrar('Especialista')" class="btn btn-sm btn-outline-secondary">Registrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"  *ngIf="this.st.usuarioObj.rol == 'Admin'">
          <div class="card shadow-sm" style="width: 18rem;">
            <img class="bd-placeholder-img card-img-top" src="../assets/admin.jpeg" alt="" width="30%" height="30%">
            <div class="card-body">
              <p class="card-text">Admin</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="registrar('Admin')" class="btn btn-sm btn-outline-secondary">Registrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</main> 
</body>

